<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Chat application</span>
</nav>

<div class="container">
  <div class="row">    
      <div class="col-md-10 mt-3" *ngIf="connectedToChat">
          <h3>Hello '{{user.userName}}'</h3>
      </div>    
      <div class="col-md-2 mt-3 float-right" *ngIf="connectedToChat">
          <button class="btn btn-secondary" (click)="disconnect()">Disconnect</button>
      </div>  
      <div class="col-md-2 mt-3 float-right" *ngIf="!connectedToChat">
          <button class="btn btn-secondary" (click)="connect()">Connect</button>
      </div>
  </div>
  <div class="row" *ngIf="connectedToChat">
    <div class="col-md-4 mt-3">
      <h4>List of available users</h4>
      <ul class="list-group">
        <li *ngFor="let user of users" href="#" 
          [ngClass]="{'active': selectedUserName == user.userName}"
          class="list-group-item d-flex justify-content-between align-items-center">
          {{user.userName}}
          <span class="badge badge-primary badge-pill" (click)="selectUser(user.userName)" style="cursor: pointer;"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
        </li>
      </ul>
    </div>
    <div class="col-md-8 mt-3 p-3 border border-secondary rounded" *ngIf="selectedUserName != '' || messages.length > 0">
      <div class="input-group mb-3" *ngIf="selectedUserName != ''">
        <input type="text" class="form-control" placeholder="Enter message" [(ngModel)]="message">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="sendMessage()" [disabled]="message == null || message == ''">Send</button>
        </div>
      </div>
      <ul class="list-unstyled">
        <li *ngFor="let text of messages" [ngClass]="{'text-right': text.sender}">{{text.userName}} ({{text.date | date: 'dd-MM-yyyy HH:mm'}}): {{text.message}}</li>
      </ul>
    </div>
  </div>
</div>